# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn
simpletransformers

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs
spotipy==2.18.0
beautifulsoup4==4.9.3

# utilities
six>=1.14
joblib
memoized-property
termcolor
python-dotenv

#Frontend
streamlit
lyricsgenius
tensorflow
plotly
